{% extends '_base.html' %}

{% block header_content %}

{% endblock %}


{% block content %}



<div class="start-screen">

    <div class="full-block introduction">
        <div class="full-block-cell">
            <div class="full-block-content">
            <img src="assets/npr-logo.png" class="npr-logo">
                <h1>Bat Sounds</h1>
                <p>An endangered species soundscape.</p>
                
                <button class="btn-go">Listen</button>
                
                <p class="binaural-note">To hear the recording in binaural(3D) sound, <b>put on your headphones.</b> <i class="fa fa-headphones"></i></p>
        
            </div>
        </div>
        
    </div><!-- introduction -->

    
</div>

<div class="soundscape">

    <div class="full-block titlecard">
        <div class="full-block-cell">
            <div class="full-block-content">
            
  
        
            </div>
        </div>
        
    </div><!-- soundscape -->
    
    <div id="video-bg">

      <video id="bg-vid" autoplay loop>
        <source type="video/mp4" src="assets/cave-water.mp4">
      </video>
    
    </div>
    
    
    <div class="audio-controls">
    
        <audio id="moodmusic">
            <source src="http://apps.npr.org/bats/assets/bats-soundscape.mp3" type="audio/mp3">
            <source src="http://apps.npr.org/bats/assets/bats-soundscape.ogg" type="audio/ogg">
        </audio>
    </div>
    
    <div class="annotation" data-toggle="modal" data-target="#annotation-modal">
        <p>
            <b>Learn more about this recording <i class="fa fa-question-circle"></i></b>
        </p>
    </div>
</div><!--/soundscape-->

<!-- annotation modal -->
<div class="modal fade" data-backdrop="static" id="annotation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4>A New Home for bats</h4>
        
        <span class="close-modal" data-dismiss="modal"><i class="fa fa-times"></i></span>
      </div>
      <div class="modal-body">
        {{ COPY.content.bat_story }}
      </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block wide_content %}
{% endblock %}

