{% extends '_base.html' %}

{% block header_content %}

{% endblock %}


{% block content %}



<div class="start-screen">

    <div class="full-block introduction">
        <div class="full-block-cell">
            <div class="full-block-content">
                <h1>A New Home For Bats</h1>
                <p>Listen to the rasping trills and beating wings of bats as they take flight in an unusual subterranean hibernaculum, an abandoned copper mine in Michigan’s Upper Peninsula. To fully experience the sounds in this experience, <b>please put on your headphones</b> <i class="fa fa-headphones"></i>.</p>
                
                <button class="btn-go">Go</button>
                
                
        
            </div>
        </div>
        
    </div><!-- titlecard -->

    
</div>

<div class="soundscape">

    <div class="full-block titlecard">
        <div class="full-block-cell">
            <div class="full-block-content">
            
            <!--
                <h1>A NEW HOME FOR BATS</h1>
                <p>Listen to the rasping trills and beating wings of bats as they take flight in an unusual subterranean hibernaculum, an abandoned copper mine in Michigan’s Upper Peninsula.</p>
                
                -->
        
            </div>
        </div>
        
    </div><!-- titlecard -->
    
    <div id="video-bg">

      <video id="bg-vid" autoplay loop>
        <source type="video/mp4" src="assets/cave.mp4">
        <!--<source type="video/webm" src="assets/cave.webm">-->
      </video>
    
    </div>
    
    
    <div class="audio-controls">
        <i class="fa fa-volume-up"></i>
        <i class="fa fa-volume-off"></i>
    </div>
    
    <div class="annotation" data-toggle="modal" data-target="#annotation-modal">
        <p>
            <b>Learn more about this recording <i class="fa fa-question-circle"></i></b>
        </p>
    </div>
</div><!--/soundscape-->

<!-- annotation modal -->
<div class="modal fade" data-backdrop="static" id="annotation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4>A New Home for bats</h4>
        
        <span class="close-modal" data-dismiss="modal"><i class="fa fa-times"></i></span>
      </div>
      <div class="modal-body">
        <p>With wild lands shrinking and humans covering more and more of the land, conservationists no longer can mark off large areas of wilderness to preserve wildlife. As romantic as the notion of unsullied wilderness is, there's not enough of it to maintain America's increasingly endangered flora and fauna. Biologists must intervene by reintroducing species to former ranges, breeding them for genetic variety, and even creating new habitat where before there was none.</p>

<p>In a unique coincidence, biologists have stumbled on an engineered solution to the problem of the vanishing habitat for bats. Many of North America's 44 species are in grave trouble. Caves where they hibernate are crowded with tourists and cavers. But on the northern tip of Michigan, what was once America's biggest collection of underground copper mines has become a refuge for the area's bats.</p>

<p>Bat Conservation International and the USDA/Natural resources Conservation Service have joined with cavers and mining historians to preserve these mines for bats. Long abandoned, the hazardous mines often are sealed up, killing millions of bats and eliminating places for hibernation. But local people have helped BCI design special gates for the mines that keep people out while allowing bats to come and go.</p>

<p>Listen as NPR's Christopher Joyce joins a National Public Radio/National Geographic Society Radio Expedition underground into 19th-century mines. In part II, listen as Joyce helps BCI biologists survey the bat population and build bat gates, preserving habitat as well as the history of the once-booming mining industry that provided America with copper from the Civil War to World War II. </p>

<p>For more information about bats, contact Bat Conservation International at its batcon.org Web site. </p>

<p>For more information about programs to conserve wildlife habitat on private lands, go to the USDA Natural resources Conservation Service Web site.</p>

<h4>Project Credits</h4>
<ul>
<li>1</li>
<li>2</li>
</ul>
      </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block wide_content %}
{% endblock %}

