{% extends '_base.html' %}

{% block header_content %}

{% endblock %}


{% block content %}



<div class="start-screen">

    <div class="full-block introduction">
        <div class="full-block-cell">
            <div class="full-block-content">
            <img src="assets/npr-logo.png" class="npr-logo">
                <h1>Bat Sounds</h1>
                <p>Listen to an endangered species soundscape in binaural(3D) sound.</p>
                
                <button class="btn-go">Listen</button>
                
                <p class="binaural-note">To hear the recording in 3D, <b>put on your headphones.</b> <i class="fa fa-headphones"></i></p>
        
            </div>
        </div>
        
    </div><!-- introduction -->

    
</div>

<div class="soundscape">

    <div class="full-block titlecard">
        <div class="full-block-cell">
            <div class="full-block-content">
            
  
        
            </div>
        </div>
        
    </div><!-- soundscape -->
    
    <div id="video-bg">

      <video id="bg-vid" autoplay loop>
        <source type="video/mp4" src="assets/cave.mp4">
        <!--<source type="video/webm" src="assets/cave.webm">-->
      </video>
    
    </div>
    
    
    <div class="audio-controls">
        <i class="fa fa-volume-up"></i>
        <i class="fa fa-volume-off"></i>
    </div>
    
    <div class="annotation" data-toggle="modal" data-target="#annotation-modal">
        <p>
            <b>Learn more about this recording <i class="fa fa-question-circle"></i></b>
        </p>
    </div>
</div><!--/soundscape-->

<!-- annotation modal -->
<div class="modal fade" data-backdrop="static" id="annotation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4>A New Home for bats</h4>
        
        <span class="close-modal" data-dismiss="modal"><i class="fa fa-times"></i></span>
      </div>
      <div class="modal-body">
        <p>With wild lands shrinking and humans covering more and more of it, conservationists can no longer mark off huge areas of wilderness to preserve wildlife. The notion of unsullied land is romantic, but there's not enough of it to maintain America's increasingly endangered flora and fauna &ndash; like bats. </p>

<p>Many of North America’s bat species are in grave trouble. <a href="http://michiganradio.org/post/biologists-expect-worst-michigans-bat-population" target="_blank">White nose syndrome</a>, a rapidly-spreading disease killing bats, is one reason. Another reason is people: The caves where bats hibernate are crowded with tourists and cavers. As those habitats disappear, so do bats &ndash; and so do their sounds. </p>

<p>There have been some creative conservation efforts. On the northern tip of Michigan, there's been a movement to conserve a collection of abandoned, underground copper mines — an alternative habitat for bats.</p>

<p>And to conserve sounds that may also disappear, NPR reporter Chris Joyce and sound engineer Bill McQuay of the Cornell Lab of Ornithology traveled to Michigan a few years back. They recorded this copper mine environment, and many others, for a collaboration between NPR and National Geographic called "Radio Expeditions."</p> 

<p>The original stereo recording made for "Radio Expeditions" was made using two spaced omni-directional microphones. The recording in now encoded especially for headphone listening, using software designed to more accurately reproduce the immersive listening experience you would have if you were standing (or crouching) in the bat hibernaculum. To hear more binaural soundscapes from "Radio Expeditions," <a href="https://soundcloud.com/npr/sets/soundscapes" target="_blank">check out this playlist</a>.</p>

<h3>Listen to the stories of this soundscape</h3>

<ul>
<li><a href="https://soundcloud.com/npr/a-new-home-for-bats-part-1?in=npr/sets/a-new-home-for-bats-binauralheadphones" target="_blank">A New Home for Bats (Part 1)</a></li>
<li><a href="https://soundcloud.com/npr/a-new-home-for-bats-part-2?in=npr/sets/a-new-home-for-bats-binauralheadphones" target="_blank">A New Home for Bats (Part 2)</a></li>
</ul>

<h3>Share</h3>

<ul>
<li>Twitter</li>
<li>Facebook</li>
<li>Email</li>
</ul>


<h4>Project Credits</h4>
<ul>
<li>cornell</li>
<li>npr</li>
<li>image credits</li>
<li>other recordings</li>
</ul>
      </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block wide_content %}
{% endblock %}

